StateMachine.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="https://github.com/Mongooz/StateMachine" elementFormDefault="qualified" targetNamespace="https://github.com/Mongooz/StateMachine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stateMachine" type="tns:StateMachine.Configuration.StateMachineSectionCT" />
	<xs:complexType name="StateMachine.Configuration.StateMachineSectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="states" type="tns:StateMachine.Configuration.StateCollectionCT">
				<xs:annotation>
					<xs:documentation>The States.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="defaultStateId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The DefaultStateId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateMachine.Configuration.StateCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="state" type="tns:StateMachine.Configuration.StateElementCT">
				<xs:annotation>
					<xs:documentation>The StateElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="StateMachine.Configuration.TransitionCollectionCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="transition" type="tns:StateMachine.Configuration.TransitionElementCT">
				<xs:annotation>
					<xs:documentation>The TransitionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="StateMachine.Configuration.StateElementCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="transitions" type="tns:StateMachine.Configuration.TransitionCollectionCT">
				<xs:annotation>
					<xs:documentation>The Transitions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="stateId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StateId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="stateName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StateName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="StateMachine.Configuration.TransitionElementCT">
		<xs:attribute name="stateId" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The StateId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
